body{
    height:90vh;
    display: flex;
    flex-direction: column;
}

.heading{
    margin-left:50px;
    font-size: 1.6rem;
}

.images{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

img{
    border-radius:90px;
    width:20vw;
    height: auto;
    filter: contrast(3) blur(3px);
}

img:hover{
    filter: blur(0) contrast(3);
}